.butt_re {

    background-color: rgb(5, 25, 37);
    color: white;
    border: none;
    display: inline-block;
    height: 36px;
    width: 100%;
    width: 300px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 320px;
    margin-top: 20px;
    vertical-align: text-bottom;
}